
<div class="account-page">
    <h1><%= title %></h1>

    <%- messages() %>

    <% if (locals.accountData) { %>

    <h2>Welcome <%= accountData.account_firstname %></h2>

    <p><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a></p>

    <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
        <h3>Inventory Management</h3>
        <p><a href="/inv/">Manage Inventory</a></p>
    <% } %>

    <% } else { %>

    <h2>You are not logged in</h2>
    <a href="/account/login"><button>Login</button></a>

    <% } %>
</div>
